on: [ push, workflow_dispatch ]

env:
  IMAGE_NAME: ${{ github.repository }}:${{ github.sha }}

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Find the Dockerfile
      id: find_dockerfile
      run: |
        # look for Dockerfile in the repo
        DOCKERFILE_PATH=$(find . -type f -iname 'Dockerfile' | head -n 1 || true)

        if [ -z "$DOCKERFILE_PATH" ]; then
          echo "No Dockerfile found!"
          exit 1
        fi

        echo "Found Dockerfile: $DOCKERFILE_PATH"
        echo "dockerfile=$DOCKERFILE_PATH" >> $GITHUB_OUTPUT

    - name: Build the image
      run: |
        # get the path
        DOCKERFILE=${{ steps.find_dockerfile.outputs.dockerfile }}

        # get directory for context
        CONTEXT=$(dirname "$DOCKERFILE")

        echo "Building with Dockerfile: $DOCKERFILE"
        docker build -f "$DOCKERFILE" -t $IMAGE_NAME "$CONTEXT"

    - name: Prisma Cloud image scan
      id: scan
      uses: PaloAltoNetworks/prisma-cloud-scan@v1.5
      with:
        pcc_console_url: ${{ secrets.PCC_CONSOLE_URL }}
        pcc_user: ${{ secrets.PCC_USER }}
        pcc_pass: ${{ secrets.PCC_PASS }}
        image_name: ${{ env.IMAGE_NAME }}

    - name: Upload SARIF file
      if: ${{ steps.scan.outputs.sarif_file != '' }}
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: ${{ steps.scan.outputs.sarif_file }}

